.list {
    margin-bottom: 20px;
}
  
.to-do {
   position: relative;
}

.delete_box {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}