.weather {
    position: absolute;
    font-style: italic;
    font-size: 12px;
    position: absolute;
    top: 25px;
    right: 25px;
}
.weather_icon img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}